{{- $redirectURL := .Site.Home.RelPermalink -}}
{{- with index .Pages 0 -}}
    {{- $redirectURL = .RelPermalink -}}
{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" dir="{{ .Language.Direction | default "ltr" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ $redirectURL }}">
    <title>{{ .Title }}</title>
</head>
<body>
    <p>{{ i18n "redirecting" }}</p>
    <p><a href="{{ $redirectURL }}">{{ i18n "redirect_manual" }}</a></p>
</body>
</html>
