{{- $logoPNG  := resources.Get "images/logo.png"  -}}
{{- $logoWebP := resources.Get "images/logo.webp" -}}
{{- $logoSVG  := resources.Get "images/logo.svg"  -}}

{{- $logoPNGURL  := "" -}}
{{- $logoPNGAbs  := "" -}}
{{- $logoWebPURL := "" -}}
{{- $logoWebPAbs := "" -}}

{{- with $logoPNG }}
    {{- $logoPNGURL = .RelPermalink -}}
    {{- $logoPNGAbs = .Permalink -}}
{{- else }}
    {{- with $logoSVG }}
        {{- $logoPNGURL = .RelPermalink -}}
        {{- $logoPNGAbs = .Permalink -}}
    {{- end }}
{{- end -}}

{{- with $logoWebP }}
    {{- $logoWebPURL = .RelPermalink -}}
    {{- $logoWebPAbs = .Permalink -}}
{{- else }}
    {{- with $logoSVG }}
        {{- $logoWebPURL = .RelPermalink -}}
        {{- $logoWebPAbs = .Permalink -}}
    {{- end }}
{{- end -}}

{{- $heroSVG  := resources.Get "images/hero.svg"  -}}
{{- $heroCandidates := slice "images/hero.webp" "images/hero-2.webp" "images/hero-3.webp" "images/hero-4.webp" -}}
{{- $heroImages := slice -}}
{{- range $heroCandidates -}}
    {{- with resources.Get . -}}
        {{- $heroImages = $heroImages | append .RelPermalink -}}
    {{- end -}}
{{- end -}}
{{- if eq (len $heroImages) 0 -}}
    {{- with $heroSVG -}}
        {{- $heroImages = $heroImages | append .RelPermalink -}}
    {{- end -}}
{{- end -}}
{{- $heroURL := "" -}}
{{- if gt (len $heroImages) 0 -}}{{- $heroURL = index $heroImages 0 -}}{{- end -}}

{{- return dict
    "logoPNG"     $logoPNGURL
    "logoPNGAbs"  $logoPNGAbs
    "logoWebP"    $logoWebPURL
    "logoWebPAbs" $logoWebPAbs
    "hero"        $heroURL
    "heroImages"  $heroImages
-}}
