{{- $src    := .Get "src"    | default .Site.Params.campusMapEmbed -}}
{{- $width  := .Get "width"  | default "100%" -}}
{{- $height := .Get "height" | default "400" -}}
{{- $title  := .Get "title"  | default (i18n "map_title") -}}
{{- if $src }}
<div class="map-embed">
  <iframe
    src="{{ $src | safeURL }}"
    width="{{ $width }}"
    height="{{ $height }}"
    title="{{ $title }}"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{{- end }}
