{{ $isAr := eq .Language.Lang "ar" }}
<section class="visitor-counter-section" data-endpoint="{{ .Site.Params.visitorCounterEndpoint }}">
    <div class="container">
        <div class="visitor-counter">
            <div class="counter-item">
                <svg width="28" height="28">
                    <use href="#icon-users"></use>
                </svg>
                <div class="counter-content">
                    <span class="counter-number" id="today-visitors">0</span>
                    <span class="counter-label">{{ i18n "today_visitors" }}</span>
                </div>
            </div>
            <div class="counter-divider"></div>
            <div class="counter-item">
                <svg width="28" height="28">
                    <use href="#icon-chart"></use>
                </svg>
                <div class="counter-content">
                    <span class="counter-number" id="total-visitors">0</span>
                    <span class="counter-label">{{ i18n "total_visitors" }}</span>
                </div>
            </div>
            <div class="counter-divider"></div>
            <div class="counter-item">
                <svg width="28" height="28">
                    <use href="#icon-globe"></use>
                </svg>
                <div class="counter-content">
                    <span class="counter-number" id="online-visitors">0</span>
                    <span class="counter-label">{{ i18n "online_now" }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
